<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <listener>
    <listener-class>utils.servletcontextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>Registreren</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registreren</servlet-name>
    <url-pattern>/RegisterServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Inloggen</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inloggen</servlet-name>
    <url-pattern>/LoginServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Uitloggen</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Uitloggen</servlet-name>
    <url-pattern>/LogoutServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BlogPost</servlet-name>
    <servlet-class>controller.BlogPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogPost</servlet-name>
    <url-pattern>/Blogger/BlogPostServlet.do</url-pattern>
  </servlet-mapping>
  <filter>
  	<filter-name>blogFilter</filter-name>  
  	<filter-class>utils.blogFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>blogFilter</filter-name>
  	<url-pattern>/Blogger/*</url-pattern>
  	<dispatcher>REQUEST</dispatcher>
  	<dispatcher>FORWARD</dispatcher>
  </filter-mapping>
</web-app>